<header class="main-header">
  <a class="logo" routerLink="/">LOGO</a>
  <div class="header-actions">
    <button class="btn red" *ngIf="isLoggedIn" (click)="logout()">Me déconnecter</button>
    <button class="btn orange" *ngIf="isLoggedIn" routerLink="/profile">Mon profile</button>
    <button class="btn orange" *ngIf="isLoggedIn" routerLink="/cart">Panier</button>
    <button class="btn orange" *ngIf="!isLoggedIn" routerLink="/login">Connexion</button>
    <button class="btn orange" *ngIf="!isLoggedIn" routerLink="/register">Inscription</button>
  </div>
</header>