<div class="product-card">
  <img [src]="product.imageUrl" alt="{{ product.name }}">
  <h3>{{ product.name }}</h3>
  <p>{{ product.price | price }}</p>
  <div class="card-actions">
    <button class="info-btn" [routerLink]="['/product', product.id]" title="Voir le détail">
      i
    </button>
    <button 
      (click)="addToCart()" 
      [disabled]="!product.isAvailable"
      class="btn orange"
    >
      {{ product.isAvailable ? 'Ajouter au panier' : 'Produit indisponible' }}
    </button>
  </div>
</div>